/* setting style of page */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

.image {
  background-image: url('Images/tedx gif.gif');
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 70%;
}

.text {
  text-align: center;
  color: white;
}
/* setting style for content section */

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #000000;
  width: 55%;
  min-height: 100vh;
  padding: 10px 20px;
}

/* setting style of form section */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  padding : 50px;
}

div.title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: -10px;
}

form > div {
  position: relative;
  margin-bottom: 15px;

}
form > div > label {
  display: block;
  margin-bottom: 5px;
}

form > div > input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  outline: none;
  border: 2px solid gray;
  padding: 0 30px;
}

input:focus {
  border: 2px solid #000000;
}

/* setting style for social section */

 div.g_id_signin{
  display: flex;
  margin: auto;
  flex-direction: row;
  padding: 10px 5px;
  width: 50%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

div.g_id_signin:hover{
  opacity: 0.8;
}

div.or {
  text-align: center;
}

div.question {
  font-size: 15px;
  padding-bottom: 15px;
}

/* setting style for form icons */

form > div> i {
  position: absolute;
  padding: 10px;
}

i.success-icon, i.failure-icon {
  right: 0;
  opacity: 0;
}

i.success-icon{
  color: green;
}

i.failure-icon,div.error{
  color: red;
}

div.error {
  font-size: 15px;
  margin-top: 5px;
}

/* setting style for button */

button{
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  background-color: #000000;
  border: 2px solid #000000;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  transition: all 0.1s ease;
}

button:hover{
  opacity: 0.8;
}

/* media queries */

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  form, .content {
    width: 100% !important;
  }
  .btn {
    flex-direction: column;
  }
  .image {
    height: 70vh;
  }
}

@media (max-width: 425px) {
  form {
    padding: 20px;
  }
}
